.topnav {
  background-color: #080808;
  background-image: "atomastech/images/stars.jpg";
  width: 100%;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #5b5c5b;
  color: black;
}

.topnav a.active {
  background-color: #5b5c5b;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
}

body {
  margin: 0;
  padding: 15px 20px;
  min-height: 99%;
  width: 100%;
  min-width: 550px;
  color: #6C99BB;
  background: #353535;
  font-family: cursor, monospace;
  overflow-x: hidden;
  }
